<h1>Alle games:</h1>
<div *ngIf="user$ | async as user">
    <a id="create" routerLink="/games/create" *ngIf="authenticationService.checkAdmin() | async"><button class="btn btn-primary" > Nieuw...</button></a>
</div>

<div class="table-responsive-lg">
    <table class="table table-hover" id="tableGames">
        <thead class="thead-dark">
            <tr id="columnTitle">
                <th scope="col">Titel</th>
                <th scope="col">Publisher</th>
                <th scope="col">Release Jaar</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let game of games$ | async">
                <th scope="row">{{game.title}}</th>
                <td>{{game.publisher.name}}</td>
                <td>{{game.releaseYear}}</td>
                <td> <a routerLink="{{ game._id }}" id="detail"> Details...</a></td>
            </tr>
        </tbody>
    </table>
</div>