<h1>Alle games:</h1>
<div *ngIf="personalList$ | async as list">

    <div *ngIf="list.games.length <= 0">
        <p>
            Uw lijst is nog leeg!<br> Voeg eerst een game toe.
        </p>
    </div>

    <hr>
    <p *ngIf="authenticationService.userMayEdit(list.userId) | async">
        <button class="btn btn-danger" (click)="delete(list._id)">Verwijderen</button>
    </p>

    <div class="table-responsive-lg" *ngIf="list.games.length > 0">


        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Titel</th>
                    <th scope="col">Publisher</th>
                    <th scope="col">Release jaar</th>
                    <th scope="col"></th>
                    <th *ngIf="authenticationService.userMayEdit(list.userId) | async" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let game of list.games">
                    <th scope="row">{{game.title}}</th>
                    <td>{{game.publisher.name}}</td>
                    <td>{{game.releaseYear}}</td>
                    <td> <a [routerLink]="['/games', game.gameId]"> Details...</a></td>
                    <td *ngIf="authenticationService.userMayEdit(list.userId) | async"><button class="btn btn-danger" (click)="deleteList(game.gameId, list._id)">Verwijderen</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>