<div class="wrapper">
    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <img class="center" src="https://play-lh.googleusercontent.com/x5plkziihiycgF542rE9PUZt5V9z3xi1lBWsnOfzU1Q-h_rhJAFSqXW9TGGrOnDdNg" width="300" height="300" style="margin-bottom: 50px;">
        <h2 class="center">Login</h2>
        <div class="form-group">
            <input class="form-control" placeholder="Gebruikersnaam" type="email" formControlName="username" />

            <small class="text-danger error" *ngIf="loginForm.get('username').hasError('required')">
                    Gebruikersnaam is verplicht.
            </small>
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Wachtwoord" type="password" formControlName="password" required/>

            <small class="text-danger error" *ngIf="loginForm.get('password').hasError('required')">
                    Wachtwoord is verplicht.
            </small>
        </div>

        <button [disabled]="!loginForm.valid" type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
    </form>
</div>