<div class="wrapper">

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-signin">
        <img class="center" src="https://play-lh.googleusercontent.com/x5plkziihiycgF542rE9PUZt5V9z3xi1lBWsnOfzU1Q-h_rhJAFSqXW9TGGrOnDdNg" width="300" height="300">
        <h3 class="center">Registreren:</h3>

        <div class="form-group">
            <input formControlName="username" class="form-control" placeholder="Gebruikersnaam" />
            <small class="text-danger error" *ngIf="registerForm.get('username').hasError('required')">
                    Dit veld is verplicht.
            </small>
        </div>
        <div class="form-group">
            <input formControlName="email" class="form-control" placeholder="Email Address" />
            <small class="text-danger error" *ngIf="registerForm.get('email').hasError('required')">
                    Dit veld is verplicht.
            </small>
            <small class="text-danger error" *ngIf="registerForm.get('email').errors?.email">
                    Vul een geldige email adres in.
            </small>
        </div>
        <div class="form-group">
            <input formControlName="birthdate" class="form-control" type="date" placeholder="Geboortedatum" />
            <small class="text-danger error" *ngIf="registerForm.get('birthdate').hasError('required')">
                    Dit veld is verplicht.
            </small>
        </div>
        <div class="form-group">
            <input formControlName="password" type="password" class="form-control" placeholder="Wachtwoord" />
            <small class="text-danger error" *ngIf="registerForm.get('password').hasError('required')">
                    Dit veld is verplicht.
            </small>
        </div>
        <div class="form-group">
            <input formControlName="passwordControl" type="password" class="form-control" placeholder="Herhaal Wachtwoord" />
            <small class="text-danger error" *ngIf="registerForm.get('passwordControl').hasError('required')">
                    Dit veld is verplicht.
            </small>
        </div>

        <button type="submit" [disabled]="!registerForm.valid" class="btn btn-lg btn-primary btn-block">Register</button>
    </form>
</div>