<h3>Nieuw character:</h3>
<div *ngIf="character">
    <form #characterForm="ngForm" name="form" *ngIf="user$ | async as user" (ngSubmit)="characterForm.form.valid && onSubmit(user.id)" novalidate>
        <div class="form-row">
            <label for="name">Naam</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="character.name" name="name" #name="ngModel" required>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                Naam is verplicht.
            </div>
        </div>

        <div class="form-row">
            <label for="firstAppearance">Eerste spel</label>
            <input type="text" class="form-control" id="firstAppearance" [(ngModel)]="character.firstAppearance" name="firstAppearance" #firstAppearance="ngModel" required>
            <div [hidden]="firstAppearance.valid || firstAppearance.pristine" class="alert alert-danger">
                Eerste spel is verplicht.
            </div>
        </div>

        <div class="form-row">
            <label for="description">Beschrijving</label>
            <textarea class="form-control" id="description" [(ngModel)]="character.description" name="description" #description="ngModel" required style="width:2500px;height:150px;"></textarea>
            <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                Beschrijving is verplicht.
            </div>
        </div>


        <label for="releaseYear">Geslacht</label>

        <div class="radio-button">

            <div>
                <input [(ngModel)]="character.gender" id="Male" type="radio" class="custom-control-input" value="Male" name="gender" ngModel required>
                <label class="custom-control-label" for="Male">Male</label>
            </div>

            <div>
                <input [(ngModel)]="character.gender" id="Female" type="radio" class="custom-control-input" value="Female" name="gender" ngModel required>
                <label class="custom-control-label" for="Female">Female</label>
            </div>

            <div>
                <input [(ngModel)]="character.gender" id="Other" type="radio" class="custom-control-input" value="Other" name="gender" ngModel required>
                <label class="custom-control-label" for="Other">Other</label>
            </div>
        </div>



        <button type="submit" class="btn btn-success" [disabled]="!characterForm.form.valid">Opslaan</button>
        <button routerLink=".." class="btn btn-danger">Terug</button>
    </form>
    <hr>

</div>