<h1>Alle characters:</h1>
<div *ngIf="user$ | async as user">
    <a routerLink="/characters/create" *ngIf="authenticationService.checkAdmin() | async"><button class="btn btn-primary " > Nieuw...</button></a>
</div>

<div class="table-responsive-lg">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Naam</th>
                <th scope="col">Eerste Spel</th>
                <th scope="col">Geslacht</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let character of characters$ | async">
                <th scope="row">{{character.name}}</th>
                <td>{{character.firstAppearance}}</td>
                <td>{{character.gender}}</td>
                <td> <a routerLink="{{ character._id }}"> Details...</a></td>
            </tr>
        </tbody>
    </table>
</div>