<body>
    <div class="row">
        <div class="col-sm-6 col-md-8 col-lg-9">
            <h1 id="aboutTitle">Over deze applicatie</h1>
            <p>
                Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool Breda.
            </p>
            <h3>Game List maker</h3>
            <p>
                Met deze webapplicatie kunnen gebruikers kun eigen game lijst maken. Hiervoor dienen ze eerst ingelogt te zijn. gebruikers kunnen zunnen zoveel lijsten maken als ze willen en ook bekijken.<br> Ook kunnen ze uiteraart games toevoegen en
                verwijderen uit de lijst.
            </p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card" style="color: black;">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="assets/images/Person.png" class="card-img-top rounded-circle border profile-pic" alt="..." />
                </div>
                <div class="card-body">
                    <h5 class="card-title">Kevin Nguyen</h5>
                    <p class="card-text">
                        Studentnummer: 2150956
                    </p>
                </div>
            </div>
        </div>
    </div>

    <h3>Entiteiten</h3>
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <p>Game</p>
            <ul>
                <li>id: string</li>
                <li>title: string</li>
                <li>publisher: string</li>
                <li>releaseYear: number</li>
                <li>description: string</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-4 white">
            <p>Character</p>
            <ul>
                <li>id: number</li>
                <li>name: string</li>
                <li>firstAppearance: string</li>
                <li>description: string</li>
                <li>gender: Enum[Male, Female, Other]</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-4">
            <p>Game lijst</p>
            <ul>
                <li>id: number</li>
                <li>name: string</li>
                <li>date Created: date</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3>Use Cases</h3>
            <p>De applicatie biedt de volgende functionaliteit.</p>
            <div *ngFor="let UC of useCases">
                <app-usecase [useCase]="UC"></app-usecase>
            </div>
        </div>
    </div>
</body>