<div class="container row" *ngIf="game$ | async as game">
    <div class="col-md-6">
        <h2>
            {{game.title}}
        </h2>
        <p>
            {{game.description}}
        </p>
        <hr>
        <div>
            <span><strong>Release Jaar:</strong> {{game.releaseYear}}</span><br>
            <span><strong>Publisher:</strong> {{game.publisher.name}}</span><br>
            <span><strong>Publisher founder:</strong> {{game.publisher.founder}}</span><br>
            <span><strong>Publisher adres:</strong> {{game.publisher.headquarterAdres}}</span><br>
        </div>
        <hr>
        <p>
            <a routerLink="/games"><button class="btn btn-primary margin-right " > Terug...</button></a>
            <button *ngIf="addList$ == false" class="btn btn-primary margin-right" (click)="addList()">Toevoegen aan lijst</button>
        </p>
        <hr>
        <p *ngIf="authenticationService.userMayEdit(game.creatorId) | async">
            <button class="btn btn-primary margin-right" (click)="addCharacter()" *ngIf="authenticationService.checkAdmin() | async">Character Toevoegen</button>
            <button class="btn btn-dark margin-right" *ngIf="authenticationService.checkAdmin() | async"> <a routerLink="update">Bewerken</a></button>
            <button class="btn btn-danger margin-right" (click)="delete(game._id, '', 'game')" *ngIf="authenticationService.checkAdmin() | async">Verwijderen</button>
        </p>
        <hr *ngIf="authenticationService.checkAdmin() | async">

        <div *ngIf="addList$ == true">
            <form [formGroup]="personalListForm" (ngSubmit)="onSubmit(game._id)" class="form-inline">
                <div class="form-row">
                    <label for="name">Toevoegen aan lijst:</label>
                    <select class="form-control" id="listId" name="listId" required>
                        <option value="" selected disabled hidden>Kies een optie</option>
                        <option *ngFor="let list of personalLists$ | async" value={{list._id}}>
                            {{list.name}}
                        </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Toevoegen</button>
            </form>
        </div>

        <div *ngIf="addCharacter$ == true">
            <form (ngSubmit)="onSubmitCharacter(game._id)" class="form-inline">
                <div class="form-row">
                    <label for="name">Toevoegen aan game:</label>
                    <select class="form-control" id="characterId" name="characterId" required>
                        <option value="" selected disabled hidden>Kies een optie</option>
                        <option *ngFor="let char of characters$ | async" value={{char._id}}>
                            {{char.name}}
                        </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Toevoegen</button>
            </form>
        </div>

    </div>
    <div class="table-responsive-lg col-md-6" *ngIf="game.characters.length > 0">
        <h2>
            Characters:
        </h2>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Naam</th>
                    <th scope="col">Eerste Spel</th>
                    <th scope="col">Geslacht</th>
                    <th scope="col"></th>
                    <th *ngIf="authenticationService.userMayEdit(game.creatorId) | async" scope="col"></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let char of game.characters">

                    <th scope="row">{{ char.name }}</th>
                    <td>{{ char.firstAppearance }}</td>
                    <td>{{ char.gender }}</td>
                    <td> <a [routerLink]="['/characters', char._id]"> Details...</a></td>
                    <td *ngIf="authenticationService.userMayEdit(game.creatorId) | async"><button class="btn btn-danger" (click)="delete(game._id, char._id, 'character')">Verwijderen</button></td>
                </tr>
            </tbody>

        </table>
    </div>

</div>