<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example" style="margin-bottom: 50px;">
    <div class="container">
        <a class="navbar-brand">Games</a>
        <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">


        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarsExample07" [ngbCollapse]="isNavbarCollapsed">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/games">Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/characters">Characters</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about">About</a>
                </li>
            </ul>

            <!-- Start if not logged in -->
            <ul *ngIf="!(user$ | async)" class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
            </ul>


            <!-- Start if logged in -->
            <li *ngIf="user$ | async as user" class="nav-item dropdown">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-link" id="dropdownMenu1" ngbDropdownToggle>{{ user.username }}</button>
                    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <a ngbDropdownItem class="dropdown-item" routerLink="/personalLists">Personal List</a>
                        <button ngbDropdownItem type="button" class="dropdown-item" (click)="logout()">Uitloggen</button>
                    </div>
                </div>

        </div>
    </div>
</nav>