<h1>Jouw Lijsten:</h1>

<button *ngIf="create$ == false" class="btn btn-primary mb-2" (click)="create()">Nieuw</button>

<div *ngIf="create$ == true">
    <form [formGroup]="personalListForm" (ngSubmit)="onSubmit()" class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            <input formControlName="name" class="form-control mb-2 mr-sm-2" placeholder="name" />
        </div>

        <button type="submit" class="btn btn-primary mb-2">Aanmaken</button>
    </form>
</div>

<div class="table-responsive-lg">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Naam</th>
                <th scope="col">Datum Gemaakt</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of personalLists$ | async">
                <th scope="row">{{item.name}}</th>
                <td>{{item.dateCreated}}</td>
                <td> <a routerLink="{{ item._id }}"> Alle games...</a></td>
            </tr>
        </tbody>
    </table>
</div>.