<div class="container" *ngIf="character$ | async as character">
    <div class="col-md-12">
        <h2>
            {{character.name}}
        </h2>
        <p>
            {{character.description}}
        </p>
        <hr>
        <div>
            <span><strong>Eerste spel:</strong> {{character.firstAppearance}}</span><br>
            <span><strong>Geslacht:</strong> {{character.gender}}</span>
        </div>
        <hr>
        <p>
            <a routerLink="/characters"><button class="btn btn-primary margin-right " > Terug...</button></a>
        </p>
        <hr>
        <p *ngIf="authenticationService.userMayEdit(character.creatorId) | async">
            <a routerLink="update" *ngIf="authenticationService.checkAdmin() | async"><button class="btn btn-dark margin-right">Bewerken</button></a>
            <button class="btn btn-danger" (click)="delete(character._id)" *ngIf="authenticationService.checkAdmin() | async">Verwijderen</button>
        </p>
        <hr *ngIf="authenticationService.checkAdmin() | async">
    </div>
</div>