<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h1 class="section-heading text-uppercase">Welkom!</h1>
            <h3>Dit is een do it yourself Game list maker.</h3>
            <h5 style="margin-bottom:200px">Op deze website kunt u:</h5>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <img class="center" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/most-popular-video-games-of-2020-1582141293.png?crop=0.418xw:0.837xh;0.287xw,0&resize=640:*" width="300" height="300" style="margin-bottom: 50px;">
                <h4>Games</h4>
                <p>Bekijk nu de nieuwste games die beschikbaar zijn!</p>
            </div>
            <div class="col-md-4">
                <img class="center" src="https://www.praatjepodcast.nl/wp-content/uploads/2017/03/characters.jpg" width="300" height="300" style="margin-bottom: 50px;">
                <h4>Characters</h4>
                <p>Alle informatie over je favoriete charactes vind je hier.</p>
            </div>
            <div class="col-md-4">
                <img class="center" src="https://www.coachingpositiveperformance.com/wp-content/uploads/2015/11/rsz_contextualised-lists.png" width="300" height="300" style="margin-bottom: 50px;">
                <h4>Persoonlijke Lijst</h4>
                <p>Maak zelf je eigen lijst om je games bij te houden.</p>
            </div>
        </div>
    </div>
</section>