<div *ngIf="game">

    <form #gameForm="ngForm" name="form" *ngIf="user$ | async as user" (ngSubmit)="gameForm.form.valid && onSubmit(user.id)" novalidate>
        <div class="form-row">
            <label for="title">Titel</label>
            <input type="text" class="form-control" id="title" [(ngModel)]="game.title" name="title" #title="ngModel" required>
            <div id="hiddenTitleError" [hidden]="title.valid || title.pristine" class="alert alert-danger">
                Geef een titel op.
            </div>
        </div>

        <div class="form-row">
            <label for="publisher">publisher Naam</label>
            <input type="text" class="form-control" id="publisherName" [(ngModel)]="game.publisher.name" name="publisherName" #publisherName="ngModel" required>
            <div [hidden]="publisherName.valid || publisherName.pristine" class="alert alert-danger">
                publisher naam is verplicht.
            </div>
        </div>

        <div class="form-row">
            <label for="publisher">publisher founder</label>
            <input type="text" class="form-control" id="publisherFounder" [(ngModel)]="game.publisher.founder" name="publisherFounder" #publisherFounder="ngModel">
        </div>

        <div class="form-row">
            <label for="publisher">publisher Adres</label>
            <input type="text" class="form-control" id="publisherAdres" [(ngModel)]="game.publisher.headquarterAdres" name="publisherAdres" #publisherAdres="ngModel" required>
            <div [hidden]="publisherAdres.valid || publisherAdres.pristine" class="alert alert-danger">
                publisher adres is verplicht.
            </div>
        </div>

        <div class="form-row">
            <label for="description">Beschrijving</label><br>
            <textarea class="form-control" id="description" [(ngModel)]="game.description" name="description" #description="ngModel" required style="width:2500px;height:150px;"></textarea>
            <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                description is verplicht.
            </div>
        </div>

        <div class="form-row">
            <label for="releaseYear">Release Jaar</label>
            <input type="number" value="2021" class="form-control" id="releaseYear" [(ngModel)]="game.releaseYear" min="1950" name="releaseYear" #releaseYear="ngModel" required>
            <div [hidden]="releaseYear.valid || releaseYear.pristine" class="alert alert-danger">
                releaseYear is verplicht.
            </div>
        </div>

        <button id="buttonSubmit" type="submit" class="btn btn-success" [disabled]="!gameForm.form.valid">Opslaan</button>
    </form>
</div>
<button id="buttonBack" routerLink=".." class="btn btn-danger">Terug</button>